
body {
    background-color: 	#FFFBF3;
    border: solid white 40px;
    margin: 0 auto;
}
#home{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
	color: red;
}
a{
	color:blue;
}
a:hover{
	color: tan;
}
li{
	list-style-type: square;
}
#silkie{
  float: right;
}
#comments{
	textweight:bold;
	font-size: 20px;
}

