body {
    background-color: 	#FFFBF3;
}
h1{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}
a{
	color:blue;
}
a:hover{
	color: tan;
}
li{
	list-style-type: square;
}
#silkie{
  float: right;
}
#comments{
	textweight:bold;
	font-size: 20px;
}

